body{
    font-family: 'Lato', sans-serif;
    color: #2d3c49;
    font-weight: 300;

}

.text-muted {
    color: #7D97AD;
}

.text-thin {
    font-weight: 100;
}

.title-super {
    font-size: 60px;
}

.logo {
    margin-top: 20px;
    
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.row {
  width: 100%;
}

.footer {
  text-align: center;
  margin: 20px;
}
@media screen and (max-width: 400px) {
   .title-super{
        font-size: 18px;
   }
   .title-sub{
        font-size: 12px;
   }
   .text-muted{
      font-size: 24px;
   }
}

@media screen and (min-width: 401px) and (max-width: 990px) {
   .title-super{
        font-size: 26px;
   }
   .title-sub{
        font-size: 20px;
   }
}